form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
input[type="button"],
input[type="submit"]{
    outline: none;
    border: none;

    border-style: solid;
    border-color: var(--black);
    border-width: 4px 4px 6px 4px;
    border-radius: 8px;

    width: 128px;
    height: 48px;

    transition: border 0.2s;
}

input[type="button"]:hover,
input[type="submit"]:hover{
    border-width: 4px 4px 4px 4px;
}

input[type="button"]:active,
input[type="submit"]:active{
    border-width: 4px 4px 4px 4px;
}

input[type="text"]{
    border-width: 4px;
    border-radius: 4px;
    padding: 5px;
}

input[type="text"].number{
    width: 14px;
    height: 15px;

    text-transform: uppercase;
}

input[type="text"].score{
    width: 89px;
    margin-left: 18px;
}
fieldset.buttons{
    display: flex;
}
i.bi{
    cursor: pointer;
}