section.scoreWrapper{
    height: 100%;
    width: 100%;
}
section.scoreBoard{
    display: flex;
    flex-direction: row;
    gap:24px;

    height: 90%;
    width: 100%;
}

section.scoreBoard section,
section.scoreBoard section{
    width: 100%;
    text-align: center;
}


section.scoreWrapper fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
}